@import url("https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap");

.navbar {
  border: none !important;
  border-bottom: 1px solid white !important;
}

.socio {
  font-family: "Grand Hotel", cursive;
  font-size: 45px;
}

.card {
  box-shadow: rgba(255, 255, 255, 0.25) 0px 1px 4px;
}

.pointer {
  cursor: pointer;
}

.close {
  float: right;
  background: transparent !important;
  border: none !important;
  color: #212529;
  margin: 0 !important;
  padding: 0 !important;
  margin-top: -10px !important;
  margin-right: -30px !important;
  font-weight: 600;
  font-size: 30px;
}

.go2484888251 {
  margin: 0 !important;
  padding: 0 !important;
}

@media only screen and (min-width: 1000px) {
  .posts {
    margin-left: 150px !important;
  }
}
